.launch-button {
  height: 4.5rem !important;
  width: 14.5rem !important;
  backdrop-filter: blur(9px);
  box-shadow: 
    -1px 0 5px 1px rgba(120, 120, 120, 0.1),
    0px 0 5px 1px rgba(120, 120, 120, 0.1),
    1px 0 5px 1px rgba(120, 120, 120, 0.1);
  transition: box-shadow 0.2s ease;
}


.launch-button:hover {
  box-shadow: 
    -2px 0 5px 2px rgba(120, 120, 120, 0.2),
    0px 0 5px 2px rgba(120, 120, 120, 0.2),
    2px 0 5px 2px rgba(120, 120, 120, 0.2);
}

.launch-button:active {
  box-shadow: 
    -3px 0 5px 3px rgba(120, 120, 120, 0.3),
    0px 0 5px 3px rgba(120, 120, 120, 0.3),
    3px 0 5px 3px rgba(120, 120, 120, 0.3);
}

.selected-user-card {
  height: 4.5rem !important;
  width: 10.5rem !important;
  backdrop-filter: blur(7px);
  padding: var(--chakra-space-3);
}